<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ "/styles/style.css" | absolute_url }}" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <div>
            <img class="icon-me" alt="icon-me" src="{{ "/assets/icon.png" | absolute_url }}"/>
            <h3>Welcome to</h3>
            <h1>my github page</h1>
            <a href="#about-me"><p><i class="arrow down"></i></p></a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-8">{{ content }}</div>
            <div id="menu" class="col-md-2">{% include scroll.html %}</div>
        </div>
    </div>
    {% include footer.html %}
    <script src="{{ "/js/jquery.js" | absolute_url }}"></script>
    <script src="{{ "/js/popper.js" | absolute_url }}"></script>
    <script src="{{ "/js/bootstrap.js" | absolute_url }}"></script>
    <script src="{{ "/js/cust-script.js" | absolute_url }}"></script>
</body>
