html, body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #fff;
    transition: smooth 1s;
}

body {
    background-image: url(../assets/bg7.jpg);
    background-repeat: no-repeat;
    object-fit: scale-down;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Reddit Mono', monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

a {
    color: #3895D3;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    color: #3272c0;
    text-decoration: underline;
}

.arrow-container{
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-iteration-count: infinite;
}

.arrow-container > a {
    width: 100%;
    height: 100%;
    text-align: center;
}

.arrow-container i {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 9px
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

header.row {
    display: flex;
}

header.row .col {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.row .col {
    display: grid;
    grid-template-rows: 10vh minmax(min-content, 80vh) 10vh;
}

.col .arrow-container {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div > p {
    margin-top: 0;
}

.col .row-content {
    width: 100%;
    display: grid;
    grid-template-columns: 20vw 70vw;
    margin: 3em 0;
    justify-content: center;
    align-items: center;
}

.row {
    min-height: 100vh;
}

.title {
    justify-self: flex-start;
}

.wrapper {
    flex-grow: 2;
}

header #name {
    font-size: 5em;
    color: #fff;
}

header .col {
    justify-content: center;
    align-items: center;
}


header #typewriteText {
    font-size: 2em;
    margin-bottom: 2em;
    color: #fff;
}

.contact-links {
    margin-bottom: 10rem;
}

header .contact-links a i {
    font-size: 1.7em;
    color: #fff;
}

header .contact-links a {
    margin: 0 .5em;
}

.card-deck {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
    align-content: center;
    justify-content: center;
}

.card {
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    background-color: #fff;
    color: #000;
    margin-bottom: .7em;
    height: 300px;
    text-align: center;
}

.img-card {
    display: block;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.card-content{
    height: 50%;
    padding: .1em;
}


#education .col {
    width: 100%;
}

#education-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div#education-list > p {
    text-align: justify;
}

.education-list-item-year {
    font-weight: bold;
}

.education-list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: justify;
    width: 100%;
    margin: 1.2em 0;
}

.education-list-item-text {
    margin-left: 15em;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(39 39 39);
    color: white;
    padding: 2em;
}



/** BEGIN MOBILE RESPONSIVE **/
@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .card {
        margin-bottom: 1em;
        width: 100%;
        height: 30vh;
    }

    div.row .col {
        padding: 1.5em;
        grid-template-columns: 100%;
    }

    header #name {
        font-size: 2.5em;
        text-align: center;
    }
    div.row .col {
        padding: 1.5em;
        grid-template-columns: 100%;
    }

    .col .arrow-container {
        padding: .5em 0;
    }

    .col .row-content {
        grid-template-columns: 100%;
        margin: 1em 0;
    }

    h2.title {
        text-align: center;
        width: 100%;
        margin-bottom: 1.5em;
    }
    #education .col {
        width: unset;
    }

    .card-deck {
        grid-template-columns: auto;
        width: 100%;
    }

    .education-list-item {
        flex-direction: column;
    }
    .education-list-item-text {
        margin-top: .1em;
        margin-left: 0;
    }

    #about-me {
        border-right: none;
    }

    .title {
        width: 100%;
        margin: 0;
    }

}

@media screen and (max-width:480px) {
    .card-deck {
        flex-direction: column;
        align-items: center;
    }

    #header-content h2 {
        font-size: 2.5em;
    }

    #header-content {
        margin-top: 0;
    }

    #header {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: scroll;
        height: 100vh;
        padding: 5.5em 0 1em 0;
    }

    #header-content h3 {
        font-size: 1.5em;
    }
}
