html, body {
    height: 100%;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;

  }

.cust-container{
    padding: 20px;
}

.cust-contianer div {
    margin: 20px;
}

/* Header */

  #wrapper h1, h3 {
      font-weight: 400;
      color: #fff;
      line-height: 1.25em;
  }

  #wrapper{
    min-height: 100%;
    position: relative;
    background-image: url("../assets/header5.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding: 7.5em 0 2em 0;
    cursor: default;
  }

  #wrapper h1 {
      margin-bottom: 50px;
  }

 img.icon-me {
      max-height: 400px;
      margin-bottom: 75px;
  }

/* projects card */

.img-card {
    max-width: 250px;
    max-height: 250px;
}

/* scroll-menu */

#scroll-menu {
    position: relative;
}

/* narrow down */

i {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 9px;
}


.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* skills ul */

#skills-div .ul-1 {
    display: table;
    margin: 0 auto;
}

ul#skills-div {
    list-style: none;
}

ul#skills-div li {
    display: inline;
}

/* interests ul */
#interests {
    display: inline;
}

#interests-div ul{
    text-decoration: none;
    list-style-type: none;
    display: block;
}
